<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ChapterMapper">
    <select id="getChapterById" resultType="com.study.bean.Chapter">
        select * from chapter where id=#{id};
    </select>

    <insert id="addChapter" >
        INSERT into chapter(title, video, courseware, task, reap) values (#{title}, #{video}, #{courseware}, #{task}, #{reap});
    </insert>
</mapper>