<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mebay.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.mebay.bean.Department">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="isParent" property="isParent"/>
        <collection property="children" ofType="com.mebay.bean.Department"
                    select="com.mebay.mapper.DepartmentMapper.getDepByPid" column="id">
        </collection>
    </resultMap>

    <select id="getDepById" resultMap="BaseResultMap">
        select d1.*
        from department d1
        where d1.`id` = #{id}
          AND d1.enabled = true;
    </select>

    <select id="getDepByPid" resultMap="BaseResultMap">
        select d1.*
        from department d1
        where d1.`parentId` = #{pid}
          AND d1.enabled = true;
    </select>

    <select id="getAllDeps" resultType="com.mebay.bean.Department">
        select *
        from department
        WHERE enabled = true;
    </select>

    <select id="enable" resultType="Boolean" parameterType="Long">
        select d.enabled
        FROM department d
        where d.id = #{id};
    </select>

    <select id="isParent" resultType="Boolean" parameterType="Long">
        select d.isParent
        from department d
        where d.id = #{id};
    </select>

    <insert id="addDep" parameterType="com.mebay.bean.Department">
        insert into department
        set name = #{name},
        parentId = #{parentId},
        <if test="logoPath != null">
            logoPath = #{logoPath},
        </if>
        <if test="creationUid != null">
            creationUid = #{creationUid},
        </if>
        enabled = #{enabled};
    </insert>

    <update id="setParentById" >
        update department
        set isParent = #{isParent}
        where id = #{id};
    </update>

    <delete id="deleteDep" parameterType="Long">
        delete
        from department
        where id = #{id}
          and isParent = false;
    </delete>

    <update id="updateDep">
        update department
        <set>
            <if test="dep.name != null">
                name = #{dep.name},
            </if>
            <if test="dep.parentId != null">
                parentId = #{dep.parentId},
            </if>
            <if test="dep.enabled != null">
                enabled = #{dep.enabled},
            </if>
            <if test="dep.isParent != null">
                isParent = #{dep.isParent},
            </if>
            <if test="dep.creationUid != null">
                creationUid = #{dep.creationUid},
            </if>
            <if test="dep.logoPath != null">
                logoPath = #{dep.logoPath},
            </if>
        </set>
        where id = #{originalId}
    </update>
</mapper>