<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mebay.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.mebay.bean.Department">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="enabled" property="enabled"/>
        <result column="creationUid" property="creationUid"/>
        <result column="logo" property="logo"/>
        <result column="type" property="type"/>
        <result column="creationTime" property="creationTime"/>
        <result column="deptSite" property="deptSite"/>
        <result column="contact" property="contact"/>
        <result column="contactPhone" property="contactPhone"/>
        <result column="email" property="email"/>
        <result column="deptUrl" property="deptUrl"/>
        <result column="remark" property="remark"/>
        <association property="superiorName" column="parentId"
                     select="com.mebay.mapper.DepartmentMapper.getDeptNameById"/>
    </resultMap>

    <resultMap id="elementaryResultMap" type="com.mebay.bean.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.mebay.bean.Department"
                    select="com.mebay.mapper.DepartmentMapper.getDepByPid" column="id">
        </collection>
    </resultMap>

    <resultMap id="DeptTreeId" type="com.mebay.bean.IdTree">
        <id property="id" column="id"/>
        <collection property="children" ofType="com.mebay.bean.IdTree"
                    select="getDeptIdTreeByPid" column="id"/>
    </resultMap>

    <select id="getDeptIdTreeByPid" resultType="com.mebay.bean.IdTree">
        select d.id
        from department d
        where d.parentId = #{id}
          and d.enabled = true
    </select>

    <select id="getDeptIdTreeById" resultMap="DeptTreeId">
        select d.id
        from department d
        where d.id = #{id}
          and d.enabled = true
    </select>

    <select id="getDeptsByCreationId" resultMap="DeptTreeId">
        select d1.id
        from department d1
        where d1.`creationUid` = #{uid}
          AND d1.enabled = true
    </select>

    <select id="getDeptNameById" resultType="String">
        select name
        from department
        where id = #{id};
    </select>

    <select id="getDeptById" resultMap="BaseResultMap">
        select d1.*
        from department d1
        where d1.`id` = #{id}
          AND d1.enabled = true
    </select>

    <select id="getDeptsTreeById" resultMap="elementaryResultMap">
        select d1.*
        from department d1
        where d1.`id` = #{id}
          AND d1.enabled = true
    </select>

    <select id="findDeptByPid" resultType="com.mebay.bean.Department">
        select d1.*
        from department d1
        where d1.`parentId` = #{id}
          AND d1.enabled = true;
    </select>

    <select id="getDepByPid" resultMap="elementaryResultMap">
        select d1.*
        from department d1
        where d1.`parentId` = #{id}
          AND d1.enabled = true;
    </select>

    <select id="getDeptByIds" resultMap="BaseResultMap">
        select d1.*
        from department d1
        where d1.`id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND d1.enabled = true
        <if test="search != null">
            and ${search}
        </if>
    </select>

    <select id="getAllDeps" resultType="com.mebay.bean.Department">
        select *
        from department
        WHERE enabled = true;
    </select>

    <select id="enable" resultType="Boolean" parameterType="Long">
        select d.enabled
        FROM department d
        where d.id = #{id};
    </select>

    <insert id="addDep" parameterType="com.mebay.bean.Department">
        insert into department
        set name = #{name},
        parentId = #{parentId},
        <if test="logo != null">
            logo = #{logo},
        </if>
        <if test="creationUid != null">
            creationUid = #{creationUid},
        </if>
        <if test="deptSite">
            deptSite = #{deptSite},
        </if>
        type = #{type},
        <if test="time != null">
            creationTime = #{time},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="deptUrl != null">
            deptUrl = #{deptUrl},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        contact = #{contact},
        contactPhone = #{contactPhone},
        enabled = #{enabled};
    </insert>

    <delete id="deleteDep" parameterType="Long">
        delete
        from department
        where id = #{id}
    </delete>

    <update id="updateDep">
        update department
        <set>
            <if test="dep.name != null">
                name = #{dep.name},
            </if>
            <if test="dep.parentId != null">
                parentId = #{dep.parentId},
            </if>
            <if test="dep.enabled != null">
                enabled = #{dep.enabled},
            </if>
            <if test="dep.creationUid != null">
                creationUid = #{dep.creationUid},
            </if>
            <if test="dep.logo != null">
                logo = #{dep.logo},
            </if>
            <if test="dep.type != null">
                type = #{dep.type},
            </if>
            <if test="dep.time != null">
                creationTime = #{dep.time},
            </if>
            <if test="dep.deptSite != null">
                deptSite = #{dep.deptSite},
            </if>
            <if test="dep.contact != null">
                contact = #{dep.contact},
            </if>
            <if test="dep.contactPhone != null">
                contactPhone = #{dep.contactPhone},
            </if>
            <if test="dep.email != null">
                email = #{dep.email},
            </if>
            <if test="dep.deptUrl != null">
                deptUrl = #{dep.deptUrl},
            </if>
            <if test="dep.remark != null">
                remark = #{dep.remark},
            </if>
        </set>
        where id = #{originalId}
    </update>
</mapper>