<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mebay.mapper.DeviceMapper">

    <select id="getDeviceByUserId" resultType="com.mebay.bean.Device">
        select *
        from device_detail
        where userId = #{userId};
    </select>

    <select id="getDeviceByDepId" resultType="com.mebay.bean.Device">
        select *
        from device_detail
        where depId in
        <foreach collection="depIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="search != null">
            and ${search}
        </if>
    </select>

    <select id="getDeviceById" resultType="com.mebay.bean.Device">
        select *
        from device_detail
        where id = #{id};
    </select>

    <select id="isExistDeviceDTUId" resultType="int">
        select count(0) from device_detail where DTUId = #{DTUId}
    </select>

    <select id="getDeviceByDTUId" parameterType="String" resultType="Long">
        select id from device_detail where DTUId = #{dtuId}
    </select>

    <update id="updateDevice">
        update device_detail
        <set>
            <if test="device.DTUId != null">
                DTUId = #{device.DTUId},
            </if>
            <if test="device.DTUModel != null">
                DTUModel = #{device.DTUModel},
            </if>
            <if test="device.siteName != null">
                siteName = #{device.siteName},
            </if>
            <if test="device.controllerModel != null">
                controllerModel = #{device.controllerModel},
            </if>
            <if test="device.communicationNumber != null">
                communicationNumber = #{device.communicationNumber},
            </if>
            <if test="device.registrationDate != null">
                registrationDate = #{device.registrationDate},
            </if>
            <if test="device.licenseExpirationDate != null">
                licenseExpirationDate = #{device.licenseExpirationDate},
            </if>
            <if test="device.uploadPhoto != null">
                uploadPhoto = #{device.uploadPhoto},
            </if>
            <if test="device.controllerBrand != null">
                controllerBrand = #{device.controllerBrand},
            </if>
            <if test="device.controllerType != null">
                controllerType = #{device.controllerType},
            </if>
            <if test="device.userId != null">
                userId = #{device.userId},
            </if>
            <if test="device.licensePeriod != null">
                licensePeriod = #{device.licensePeriod},
            </if>
            <if test="device.deviceStatus != null">
                deviceStatus = #{device.deviceStatus},
            </if>
            <if test="device.other != null">
                other = #{device.other},
            </if>
            <if test="device.unitModel != null">
                unitModel = #{device.unitModel},
            </if>
            <if test="device.engineModel != null">
                engineModel = #{device.engineModel},
            </if>
            <if test="device.speedControlType != null">
                speedControlType = #{device.speedControlType},
            </if>
            <if test="device.speedControlBoardModel != null">
                speedControlBoardModel = #{device.speedControlBoardModel},
            </if>
            <if test="device.pressureRegulatorType != null">
                pressureRegulatorType = #{device.pressureRegulatorType},
            </if>
            <if test="device.manufacturer != null">
                manufacturer = #{device.manufacturer},
            </if>
            <if test="device.electricGeneratorModel != null">
                electricGeneratorModel = #{device.electricGeneratorModel},
            </if>
            <if test="device.actuatorType != null">
                actuatorType = #{device.actuatorType},
            </if>
            <if test="device.fuelTankCapacity != null">
                fuelTankCapacity = #{device.fuelTankCapacity},
            </if>
            <if test="device.reference != null">
                reference = #{device.reference},
            </if>
            <if test="device.accessory != null">
                accessory = #{device.accessory},
            </if>
            <if test="device.electronicFenceStatus != null">
                electronicFenceStatus = #{device.electronicFenceStatus},
            </if>
            <if test="device.electronicFenceScope != null">
                electronicFenceScope = #{device.electronicFenceScope},
            </if>
            <if test="device.createTime != null">
                createTime = #{device.createTime},
            </if>
            <if test="device.depId != null">
                depId = #{device.depId},
            </if>
            <if test="device.gearRange != null">
                gearRange = #{device.gearRange},
            </if>
        </set>
        where id = #{id};
    </update>

    <insert id="addDevice">
        insert
        into device_detail
        set
        <if test="DTUModel != null">
            DTUModel = #{DTUModel},
        </if>
        <if test="controllerModel != null">
            controllerModel = #{controllerModel},
        </if>
        <if test="uploadPhoto != null">
            uploadPhoto = #{uploadPhoto},
        </if>
        <if test="controllerBrand != null">
            controllerBrand = #{controllerBrand},
        </if>
        <if test="other != null">
            other = #{other},
        </if>
        <if test="speedControlType != null">
            speedControlType = #{speedControlType},
        </if>
        <if test="speedControlBoardModel != null">
            speedControlBoardModel = #{speedControlBoardModel},
        </if>
        <if test="pressureRegulatorType != null">
            pressureRegulatorType = #{pressureRegulatorType},
        </if>
        <if test="manufacturer != null">
            manufacturer = #{manufacturer},
        </if>
        <if test="actuatorType != null">
            actuatorType = #{actuatorType},
        </if>
        <if test="reference != null">
            reference = #{reference},
        </if>
        <if test="accessory != null">
            accessory = #{accessory},
        </if>
        <if test="electronicFenceStatus != null">
            electronicFenceStatus = #{electronicFenceStatus},
        </if>
        <if test="electronicFenceScope != null">
            electronicFenceScope = #{electronicFenceScope},
        </if>
        <if test="createTime != null">
            createTime = #{createTime},
        </if>
        <if test="depId != null">
            depId = #{depId},
        </if>
        <if test="gearRange != null">
            gearRange = #{gearRange},
        </if>
        DTUId = #{DTUId},
        siteName = #{siteName},
        communicationNumber = #{communicationNumber},
        registrationDate = #{registrationDate},
        licenseExpirationDate = #{licenseExpirationDate},
        controllerType = #{controllerType},
        userId = #{userId},
        licensePeriod = #{licensePeriod},
        deviceStatus = #{deviceStatus},
        unitModel = #{unitModel},
        engineModel = #{engineModel},
        electricGeneratorModel = #{electricGeneratorModel},
        fuelTankCapacity = #{fuelTankCapacity}
    </insert>

    <delete id="deleteDeviceById">
        delete
        from device_detail
        where id = #{id};
    </delete>
</mapper>
