<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mebay.mapper.RequestMethodMapper">
    <select id="getAll" resultType="com.mebay.bean.RequestMethod">
        select *
        from request_method;
    </select>

    <select id="getRequestMethodByMenuId" resultType="com.mebay.bean.RequestMethod">
        select *
        from request_method
        where menuId = #{menuId};
    </select>

    <select id="getRequestMethodByRoleId" resultType="com.mebay.bean.RequestMethod">
        select *
        from request_method
        where roleId = #{roleId};
    </select>
</mapper>
