<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RoleMapper">
    <select id="findRolesAll" resultType="com.study.bean.Role">
        SELECT * FROM role;
    </select>
    <select id="findRolesByName" parameterType="String" resultType="com.study.bean.Role">
        SELECT * FROM role
        <where>
            <if test="name!=null">
                name = #{name}
            </if>
            <if test="nameZh!=null">
                or nameZh = #{nameZh}
            </if>
        </where>

    </select>

    <insert id="addNewRole">
        INSERT INTO role set name   = #{role}, nameZh = #{roleZh};
    </insert>

    <delete id="deleteRoleById" parameterType="Long">
        DELETE FROM role WHERE id = #{rid};
    </delete>

    <update id="updateRole" parameterType="com.study.bean.Role">
        update role
        <set>
            <if test="#{name} != null">
                name = #{name},
            </if>
            <if test="#{nameZh} != null">
                nameZh = #{nameZh},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>