<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.study.bean.User">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="sex" property="sex"/>
		<result column="creationTime" property="creationTime"/>
		<result column="updateTime" property="updateTime"/>
	</resultMap>

	<resultMap id="lazyLoadRoles" type="com.study.bean.User" extends="BaseResultMap">
		<collection property="authorities" ofType="com.study.bean.Role" select="com.study.mapper.UserMapper.getRolesByUserId"
					column="id"/>
	</resultMap>

    <select id="getUserById" parameterType="int" resultMap="lazyLoadRoles">
		SELECT * FROM user WHERE id = #{id};
	</select>

	<select id="getUserByUsername" parameterType="String" resultMap="lazyLoadRoles">
		SELECT * FROM user WHERE username = #{username};
	</select>

	<select id="getRolesByUserId" resultType="com.study.bean.Role">
		SELECT r.* FROM user_role h,role r where h.roleid=r.id AND h.userid=#{id};
	</select>

    <select id="getAll" resultType="User">
		SELECT * FROM user;
	</select>

	<insert id="insert" parameterType="User">
		INSERT INTO user(id, username, password, sex, name) VALUES (#{id}, #{username}, #{password}, #{sex}, #{name});
	</insert>

	<insert id="addRolesForUser">
		INSERT INTO user_role(userid,roleid) VALUES
		<foreach collection="rids" separator="," item="roleid">
			(#{userid},#{roleid})
		</foreach>
	</insert>

	<delete id="deleteUser" parameterType="int">
		DELETE FROM user WHERE id=#{id};
	</delete>

</mapper>

