<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserRoleMapper">

    <insert id="addUserToRole" >
        INSERT INTO user_role set userid=#{userId},roleid=#{roleId};
    </insert>

    <delete id="deleteRoleByUserId" >
        DELETE FROM user_role WHERE userid=#{userID};
    </delete>

</mapper>